
* {
    margin  : 0;
    padding : 0;
}

/* Container
   ========================================================================== */
.container {
    position      : absolute;
    right         : 0;
    bottom        : 50px;
    left          : 0;
    z-index       : 10000;

    padding       : 25px;

    background    : #31a541;
    border-radius : 5px;

    select {
        cursor           : pointer;
        background-color : #31a541;
        color            : white;
        border           : 2px solid #fff;
        box-shadow       : none !important;
        outline          : none !important;
    }
}

/* Mapa
   ========================================================================== */
#mapa {
    position   : absolute;

    height     : 100vh;
    width      : 100%;

    background : #f3f3f3;
}
